<%- include('../partials/en/header') -%>


<h1>Entry Form 2023</h1>

<div class="chooseDiv">
    <h3 id="choose-your-item">Please choose your item</h3>

</div>
<div id="ovrly"></div>
<div class="row options-list">
    <button id="cross">&cross;</button>
    <h3>Choose your item</h3>
    <div class="col-lg-6 afrikaansDiv">
        <button class="form-button" id="voorbereid" onclick="addForm1()">Afrikaans Voorbereid</button> <br>
        <button class="form-button" id="onvoorbereid" onclick="addForm2()">Afrikaans Onvoorbereid</button> <br>
    </div>
    <div class="col-lg-6 englishDiv">
        <button class="form-button" id="prepared" onclick="addForm4()">English Prepared</button> <br>
        <button class="form-button" id="unprepared" onclick="addForm5()">English Unprepared</button> <br>
    </div>
</div>

<% newListItems.forEach(function(item) { %>

<form action="/en/delete" method="post" class="participant-form">

    <div class="item">


        <table>
            <tr>
                <td><%=item.competition%></td>
                <td><%=item.name%></td>
                <td><%=item.surname%></td>
                <td class="grade"><%=item.grade%></td>
                <td><%=item.school%></td>
                <td><%=item.province%></td>
                <td><%=item.email%></td>
                <td><%=item.cell%></td>
                <td class="button">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                </td>
            </tr>
        </table>

    </div>

</form>

<% }); %>

<br>
<br>


<div class="entry-form-div">

    <form action="/en/entry" method="post" class="form-main" id="entry-form">

        <div id="wrapper">
            <input type="hidden" id="childEntries" value=0>
            <input type="button" name="cancel-button" value="Cancel" class="button">
            <button type="button" id="options-button">Choose</button>
            <button type="submit" class="entry-form-button">Add</button>
            <button type="button" id="options-button">Next</button>
        </div>

    </form>


    <!-- <button type="submit" id="add-row" form="entry-form">+</button> -->

    <!-- Create a pay button that will open the popup-->
    <button id="checkout-button">Pay</button>
    <p class="success-error"></p>

</div>




<script>

    //Popup for Yoco
    var yoco = new window.YocoSDK({
        publicKey: 'pk_test_a48286f218VYOvz4d334',
    });
    $('#checkout-button').click(() => {
        yoco.showPopup({
            amountInCents: 24000,
            currency: 'ZAR',
            name: 'Entries',
            callback: response => {
                if (response.error) {
                    $('.success-error').html(response.error.message);
                } else {
                    fetch('/payment', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({token: response.id})
                    })
                    .then(result => result.json())
                    .then(data => {
                        if(data.errorCode) {
                            console.log(data);
                            $('.success-error').html(data.displayMessage);
                        } else {
                            console.log(data)
                            $('.success-error').html('Payment successful! Check your emails for your invoie');
                        }  
                    })
                    .catch(error => {
                        $('.success-error').html(error.message)
                    })
                }
            }
        })
    });


    //adds options list
    window.$("#options-button").click(function () { //by clicking in choose icon
        "use strict";
        window.$("#ovrly").show();
        window.$(".options-list").show();
    });

    //removes option list
    window.$("#ovrly").click(function () { //by clicking on backgroound
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });
    window.$("#cross").click(function () { //by clicking on the cross
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });
    window.$('.form-button').click(function () { //by choosing one of the options on the buttons
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });


    function addForm1() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
            <div class="wrapper childEntry">\
                <input type="text" name="competitionName${form1wrapperCount}" class="entry-form" value="(AFR) - VOORBEREID" disabled >\
                <input type="text" name="participantName${form1wrapperCount}" class="entry-form" placeholder="Name">\
                <input type="text" name="participantSurname${form1wrapperCount}" class="entry-form" placeholder="Surname">\
                <select name="participantGrade${form1wrapperCount}" class="entry-form gradePicker">\
                    <option value="" disabled>Grade</option>\
                    <option value="1">Grade 1</option>\
                    <option value="2">Grade 2</option>\
                    <option value="3">Grade 3</option>\
                    <option value="4">Grade 4</option>\
                    <option value="5">Grade 5</option>\
                    <option value="6">Grade 6</option>\
                    <option value="7">Grade 7</option>\
                    <option value="8">Grade 8</option>\
                    <option value="9">Grade 9</option>\
                    <option value="10">Grade 10</option>\
                    <option value="11">Grade 11</option>\
                    <option value="12">Grade 12</option>\
                </select>\
                <input type="text" name="participantSchool${form1wrapperCount}" class="entry-form" placeholder="School">\
                <select name="participantProvence${form1wrapperCount}" class="entry-form" placeholder="Province">\
                    <option value="" disabled>Province</option>\
                    <option value="Gauteng">Gauteng</option>\
                    <option value="Eastern Cape">Eastern Cape (Online)</option>\
                    <option value="Free State">Free State (Online)</option>\
                    <option value="KwaZulu-Natal">KwaZulu-Natal (Online)</option>\
                    <option value="Limpopo">Limpopo (Online)</option>\
                    <option value="Mpumalanga">Mpumalanga (Online)</option>\
                    <option value="Northern Cape">Northern Cape (Online)</option>\
                    <option value="North West">North West (Online)</option>\
                    <option value="Western Cape">Western Cape (Online)</option>\
                </select>\
                <input type="email" name="participantEmail${form1wrapperCount}" class="entry-form" placeholder="Email">\
                <input type="text" name="participantNumber${form1wrapperCount}" class="entry-form participantNumber"\
                    placeholder="Cellphone Number"></div>\
        </div>`)
    }

    function addForm2() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
            <div class="wrapper childEntry">\
                <input type="text" name="competitionName${form1wrapperCount}" class="entry-form" value="(AFR) - ONVOORBEREID" disabled >\
                <input type="text" name="participantName${form1wrapperCount}" class="entry-form" placeholder="Name">\
                <input type="text" name="participantSurname${form1wrapperCount}" class="entry-form" placeholder="Surname">\
                <select name="participantGrade${form1wrapperCount}" class="entry-form gradePicker">\
                    <option value="" disabled>Grade</option>\
                    <option value="1">Grade 1</option>\
                    <option value="2">Grade 2</option>\
                    <option value="3">Grade 3</option>\
                    <option value="4">Grade 4</option>\
                    <option value="5">Grade 5</option>\
                    <option value="6">Grade 6</option>\
                    <option value="7">Grade 7</option>\
                    <option value="8">Grade 8</option>\
                    <option value="9">Grade 9</option>\
                    <option value="10">Grade 10</option>\
                    <option value="11">Grade 11</option>\
                    <option value="12">Grade 12</option>\
                </select>\
                <input type="text" name="participantSchool${form1wrapperCount}" class="entry-form" placeholder="School">\
                <select name="participantProvence${form1wrapperCount}" class="entry-form" placeholder="Province">\
                    <option value="" disabled>Province</option>\
                    <option value="Gauteng">Gauteng</option>\
                    <option value="Eastern Cape">Eastern Cape (Online)</option>\
                    <option value="Free State">Free State (Online)</option>\
                    <option value="KwaZulu-Natal">KwaZulu-Natal (Online)</option>\
                    <option value="Limpopo">Limpopo (Online)</option>\
                    <option value="Mpumalanga">Mpumalanga (Online)</option>\
                    <option value="Northern Cape">Northern Cape (Online)</option>\
                    <option value="North West">North West (Online)</option>\
                    <option value="Western Cape">Western Cape (Online)</option>\
                </select>\
                <input type="email" name="participantEmail${form1wrapperCount}" class="entry-form" placeholder="Email">\
                <input type="text" name="participantNumber${form1wrapperCount}" class="entry-form participantNumber"\
                    placeholder="Cellphone Number"></div>\
        </div>`)
    }



    function addForm4() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
            <div class="wrapper childEntry">\
                <input type="text" name="competitionName${form1wrapperCount}" class="entry-form" value="(ENG) - PREPARED" disabled >\
                <input type="text" name="participantName${form1wrapperCount}" class="entry-form" placeholder="Name">\
                <input type="text" name="participantSurname${form1wrapperCount}" class="entry-form" placeholder="Surname">\
                <select name="participantGrade${form1wrapperCount}" class="entry-form gradePicker">\
                    <option value="" disabled>Grade</option>\
                    <option value="1">Grade 1</option>\
                    <option value="2">Grade 2</option>\
                    <option value="3">Grade 3</option>\
                    <option value="4">Grade 4</option>\
                    <option value="5">Grade 5</option>\
                    <option value="6">Grade 6</option>\
                    <option value="7">Grade 7</option>\
                    <option value="8">Grade 8</option>\
                    <option value="9">Grade 9</option>\
                    <option value="10">Grade 10</option>\
                    <option value="11">Grade 11</option>\
                    <option value="12">Grade 12</option>\
                </select>\
                <input type="text" name="participantSchool${form1wrapperCount}" class="entry-form" placeholder="School">\
                <select name="participantProvence${form1wrapperCount}" class="entry-form" placeholder="Province">\
                    <option value="" disabled>Province</option>\
                    <option value="Gauteng">Gauteng</option>\
                    <option value="Eastern Cape">Eastern Cape (Online)</option>\
                    <option value="Free State">Free State (Online)</option>\
                    <option value="KwaZulu-Natal">KwaZulu-Natal (Online)</option>\
                    <option value="Limpopo">Limpopo (Online)</option>\
                    <option value="Mpumalanga">Mpumalanga (Online)</option>\
                    <option value="Northern Cape">Northern Cape (Online)</option>\
                    <option value="North West">North West (Online)</option>\
                    <option value="Western Cape">Western Cape (Online)</option>\
                </select>\
                <input type="email" name="participantEmail${form1wrapperCount}" class="entry-form" placeholder="Email">\
                <input type="text" name="participantNumber${form1wrapperCount}" class="entry-form participantNumber"\
                    placeholder="Cellphone Number"></div>\
        </div>`)
    }

    function addForm5() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
            <div class="wrapper childEntry">\
                <input type="text" name="competitionName${form1wrapperCount}" class="entry-form" value="(ENG) - UNPREPARED" disabled >\
                <input type="text" name="participantName${form1wrapperCount}" class="entry-form" placeholder="Name">\
                <input type="text" name="participantSurname${form1wrapperCount}" class="entry-form" placeholder="Surname">\
                <select name="participantGrade${form1wrapperCount}" class="entry-form gradePicker">\
                    <option value="" disabled>Grade</option>\
                    <option value="1">Grade 1</option>\
                    <option value="2">Grade 2</option>\
                    <option value="3">Grade 3</option>\
                    <option value="4">Grade 4</option>\
                    <option value="5">Grade 5</option>\
                    <option value="6">Grade 6</option>\
                    <option value="7">Grade 7</option>\
                    <option value="8">Grade 8</option>\
                    <option value="9">Grade 9</option>\
                    <option value="10">Grade 10</option>\
                    <option value="11">Grade 11</option>\
                    <option value="12">Grade 12</option>\
                </select>\
                <input type="text" name="participantSchool${form1wrapperCount}" class="entry-form" placeholder="School">\
                <select name="participantProvence${form1wrapperCount}" class="entry-form" placeholder="Province">\
                    <option value="" disabled>Province</option>\
                    <option value="Gauteng">Gauteng</option>\
                    <option value="Eastern Cape">Eastern Cape (Online)</option>\
                    <option value="Free State">Free State (Online)</option>\
                    <option value="KwaZulu-Natal">KwaZulu-Natal (Online)</option>\
                    <option value="Limpopo">Limpopo (Online)</option>\
                    <option value="Mpumalanga">Mpumalanga (Online)</option>\
                    <option value="Northern Cape">Northern Cape (Online)</option>\
                    <option value="North West">North West (Online)</option>\
                    <option value="Western Cape">Western Cape (Online)</option>\
                </select>\
                <input type="email" name="participantEmail${form1wrapperCount}" class="entry-form" placeholder="Email">\
                <input type="text" name="participantNumber${form1wrapperCount}" class="entry-form participantNumber"\
                    placeholder="Cellphone Number"></div>\
        </div>`)
    }

    //Sets the colour of the current page to be gold
    $('.entry-form-page').css('color', '#d1aa66');
    $('.entry-form-individual-page').css('color', '#d1aa66');
</script>


<%- include('../partials/en/footer') -%>