<%-include('../partials/en/header')-%>
<h1>Teams Form 2023</h1>

<div class="chooseDiv">
    <h3 id="choose-your-item">Please choose your item</h3>

</div>

<div id="ovrly"></div>
<div class="row options-list">
    <button id="cross">&cross;</button>
    <h3>Choose your item</h3>
    <div class="col-lg-6 afrikaansDiv">
        <button class="form-button" id="spanne" onclick="addForm3()">Afrikaans Spanne</button>
    </div>
    <div class="col-lg-6 englishDiv">
        <button class="form-button" id="teams" onclick="addForm6()">English Teams</button>
    </div>
</div>

<%newListTeams.forEach(function(team) {%>
<form action="/en/deleteTeams" method="post" class="participant-form">
    <div class="item">

        <table>
            <tr>
                <td><%=team.competition1%></td>
                <td><%=team.name1%></td>
                <td><%=team.surnam1e%></td>
                <td class="grade"><%=team.grade1%></td>
                <td><%=team.school1%></td>
                <td><%=team.province1%></td>
                <td><%=team.email1%></td>
                <td><%=team.cell1%></td>
            </tr>
            <tr>
                <td><%=team.competition2%></td>
                <td><%=team.name2%></td>
                <td><%=team.surname2%></td>
                <td class="grade"><%=team.grade2%></td>
                <td><%=team.school2%></td>
                <td><%=team.province2%></td>
                <td><%=team.email2%></td>
                <td><%=team.cell2%></td>
            </tr>
            <tr>
                <td><%=team.competition3%></td>
                <td><%=team.name3%></td>
                <td><%=team.surname3%></td>
                <td class="grade"><%=team.grade3%></td>
                <td><%=team.school3%></td>
                <td><%=team.province3%></td>
                <td><%=team.email3%></td>
                <td><%=team.cell3%></td>
            </tr>
            <tr>
                <td><%=team.competition4%></td>
                <td><%=team.name4%></td>
                <td><%=team.surname4%></td>
                <td class="grade"><%=team.grade4%></td>
                <td><%=team.school4%></td>
                <td><%=team.province4%></td>
                <td><%=team.email4%></td>
                <td><%=team.cell4%></td>
                <td class="button">
                    <input type="checkbox" name="checkbox" value="<%=team._id%>" onchange="this.form.submit()">
                </td>
            </tr>
        </table>

    </div>
</form>

<% }); %>


<div class="entry-form-div">
    <form action="/en/teams" method="post" class="form-main">
        <div id="wrapper">
            <input type="hidden" id="childEntries" value=0>
            <input type="button" name="cancel-button" value="Cancel" class="button">
            <button type="button" id="options-button">Kies</button>
            <button type="submit" class="entry-form-button">Las</button>
            <button type="button" id="options-button">Volgende</button>
        </div>
    </form>
</div>

<form action="/en/teamsDelete">
    <input type="button" name="cancel-button" value="Cancel" class="button" onclick="$('.participant-form').submit()">
</form>


<script>
    window.$("#options-button").click(function () { //by clicking in choose icon
        "use strict";
        window.$("#ovrly").show();
        window.$(".options-list").show();
    });

    //removes option list
    window.$("#ovrly").click(function () { //by clicking on backgroound
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });
    window.$("#cross").click(function () { //by clicking on the cross
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });
    window.$('.form-button').click(function () { //by choosing one of the options on the buttons
        "use strict";
        window.$("#ovrly").hide();
        window.$(".options-list").hide();
        window.$(".options-list").css("top", "-310px");
    });


    function addForm3() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
    <div class="wrapper childEntry">\
        <input type="text" name="competitionName1${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
        <input type="text" name="participantName1${form1wrapperCount}" class="entry-form" placeholder="Naam">\
        <input type="text" name="participantSurname1${form1wrapperCount}" class="entry-form" placeholder="Van">\
        <select name="participantGrade1${form1wrapperCount}" class="entry-form gradePicker">\
            <option value="" disabled>Graad</option>\
            <option value="1">Graad 1</option>\
            <option value="2">Graad 2</option>\
            <option value="3">Graad 3</option>\
            <option value="4">Graad 4</option>\
            <option value="5">Graad 5</option>\
            <option value="6">Graad 6</option>\
            <option value="7">Graad 7</option>\
            <option value="8">Graad 8</option>\
            <option value="9">Graad 9</option>\
            <option value="10">Graad 10</option>\
            <option value="11">Graad 11</option>\
            <option value="12">Graad 12</option>\
        </select>\
        <input type="text" name="participantSchool1${form1wrapperCount}" class="entry-form" placeholder="Skool">\
        <select name="participantProvence1${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
            <option value="" disabled>Provinsie</option>\
            <option value="Gauteng">Gauteng</option>\
            <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
            <option value="Free State">Vrystaat (Aanlyn)</option>\
            <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
            <option value="Limpopo">Limpopo (Aanlyn)</option>\
            <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
            <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
            <option value="North West">Noordwes (Aanlyn)</option>\
            <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
        </select>\
        <input type="email" name="participantEmail1${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
        <input type="text" name="participantNumber1${form1wrapperCount}" class="entry-form participantNumber"\
            placeholder="Selfoon Nommer"></div>\
</div>\
<div class="wrapper childEntry">\
        <input type="text" name="competitionName2${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
        <input type="text" name="participantName2${form1wrapperCount}" class="entry-form" placeholder="Naam">\
        <input type="text" name="participantSurname2${form1wrapperCount}" class="entry-form" placeholder="Van">\
        <select name="participantGrade2${form1wrapperCount}" class="entry-form gradePicker">\
            <option value="" disabled>Graad</option>\
            <option value="1">Graad 1</option>\
            <option value="2">Graad 2</option>\
            <option value="3">Graad 3</option>\
            <option value="4">Graad 4</option>\
            <option value="5">Graad 5</option>\
            <option value="6">Graad 6</option>\
            <option value="7">Graad 7</option>\
            <option value="8">Graad 8</option>\
            <option value="9">Graad 9</option>\
            <option value="10">Graad 10</option>\
            <option value="11">Graad 11</option>\
            <option value="12">Graad 12</option>\
        </select>\
        <input type="text" name="participantSchool2${form1wrapperCount}" class="entry-form" placeholder="Skool">\
        <select name="participantProvence2${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
            <option value="" disabled>Provinsie</option>\
            <option value="Gauteng">Gauteng</option>\
            <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
            <option value="Free State">Vrystaat (Aanlyn)</option>\
            <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
            <option value="Limpopo">Limpopo (Aanlyn)</option>\
            <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
            <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
            <option value="North West">Noordwes (Aanlyn)</option>\
            <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
        </select>\
        <input type="email" name="participantEmail2${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
        <input type="text" name="participantNumber2${form1wrapperCount}" class="entry-form participantNumber"\
            placeholder="Selfoon nomemr"></div>\
</div>\
<div class="wrapper childEntry">\
        <input type="text" name="competitionName3${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
        <input type="text" name="participantName3${form1wrapperCount}" class="entry-form" placeholder="Naam">\
        <input type="text" name="participantSurname3${form1wrapperCount}" class="entry-form" placeholder="Van">\
        <select name="participantGrade3${form1wrapperCount}" class="entry-form gradePicker">\
            <option value="" disabled>Graad</option>\
            <option value="1">Graad 1</option>\
            <option value="2">Graad 2</option>\
            <option value="3">Graad 3</option>\
            <option value="4">Graad 4</option>\
            <option value="5">Graad 5</option>\
            <option value="6">Graad 6</option>\
            <option value="7">Graad 7</option>\
            <option value="8">Graad 8</option>\
            <option value="9">Graad 9</option>\
            <option value="10">Graad 10</option>\
            <option value="11">Graad 11</option>\
            <option value="12">Graad 12</option>\
        </select>\
        <input type="text" name="participantSchool3${form1wrapperCount}" class="entry-form" placeholder="Skool">\
        <select name="participantProvence3${form1wrapperCount}" class="entry-form" placeholder="Province">\
            <option value="" disabled>Provinsie</option>\
            <option value="Gauteng">Gauteng</option>\
            <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
            <option value="Free State">Vrystaat (Aanlyn)</option>\
            <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
            <option value="Limpopo">Limpopo (Aanlyn)</option>\
            <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
            <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
            <option value="North West">Noordwes (Aanlyn)</option>\
            <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
        </select>\
        <input type="email" name="participantEmail3${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
        <input type="text" name="participantNumber3${form1wrapperCount}" class="entry-form participantNumber"\
            placeholder="Selfoon Nommer"></div>\
</div>\
<div class="wrapper childEntry">\
        <input type="text" name="competitionName4${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
        <input type="text" name="participantName4${form1wrapperCount}" class="entry-form" placeholder="Naam">\
        <input type="text" name="participantSurname4${form1wrapperCount}" class="entry-form" placeholder="Van">\
        <select name="participantGrade4${form1wrapperCount}" class="entry-form gradePicker">\
            <option value="" disabled>Graad</option>\
            <option value="1">Graad 1</option>\
            <option value="2">Graad 2</option>\
            <option value="3">Graad 3</option>\
            <option value="4">Graad 4</option>\
            <option value="5">Graad 5</option>\
            <option value="6">Graad 6</option>\
            <option value="7">Graad 7</option>\
            <option value="8">Graad 8</option>\
            <option value="9">Graad 9</option>\
            <option value="10">Graad 10</option>\
            <option value="11">Graad 11</option>\
            <option value="12">Graad 12</option>\
        </select>\
        <input type="text" name="participantSchool4${form1wrapperCount}" class="entry-form" placeholder="Skool">\
        <select name="participantProvence4${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
            <option value="" disabled>Provinsie</option>\
            <option value="Gauteng">Gauteng</option>\
            <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
            <option value="Free State">Vrystaat (Aanlyn)</option>\
            <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
            <option value="Limpopo">Limpopo (Aanlyn)</option>\
            <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
            <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
            <option value="North West">Noordwes (Aanlyn)</option>\
            <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
        </select>\
        <input type="email" name="participantEmail4${form1wrapperCount}" class="entry-form" placeholder="Email">\
        <input type="text" name="participantNumber4${form1wrapperCount}" class="entry-form participantNumber"\
            placeholder="Selfoon nommer"></div>\
</div>`)
    }

    function addForm6() {

        var form1wrapperCount = $('#wrapper').children('.childEntry').length;

        form1wrapperCount++;

        $('#childEntries').val(form1wrapperCount);

        $('#wrapper').prepend(`\
<div class="wrapper childEntry">\
<input type="text" name="competitionName1${form1wrapperCount}" class="entry-form" value="(ENG) - TEAMS" disabled >\
<input type="text" name="participantName1${form1wrapperCount}" class="entry-form" placeholder="Naam">\
<input type="text" name="participantSurname1${form1wrapperCount}" class="entry-form" placeholder="Van">\
<select name="participantGrade1${form1wrapperCount}" class="entry-form gradePicker">\
    <option value="" disabled>Graad</option>\
    <option value="1">Graad 1</option>\
    <option value="2">Graad 2</option>\
    <option value="3">Graad 3</option>\
    <option value="4">Graad 4</option>\
    <option value="5">Graad 5</option>\
    <option value="6">Graad 6</option>\
    <option value="7">Graad 7</option>\
    <option value="8">Graad 8</option>\
    <option value="9">Graad 9</option>\
    <option value="10">Graad 10</option>\
    <option value="11">Graad 11</option>\
    <option value="12">Graad 12</option>\
</select>\
<input type="text" name="participantSchool1${form1wrapperCount}" class="entry-form" placeholder="Skool">\
<select name="participantProvence1${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
    <option value="" disabled>Provinsie</option>\
    <option value="Gauteng">Gauteng</option>\
    <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
    <option value="Free State">Vrystaat (Aanlyn)</option>\
    <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
    <option value="Limpopo">Limpopo (Aanlyn)</option>\
    <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
    <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
    <option value="North West">Noordwes (Aanlyn)</option>\
    <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
</select>\
<input type="email" name="participantEmail1${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
<input type="text" name="participantNumber1${form1wrapperCount}" class="entry-form participantNumber"\
    placeholder="Selfoon Nommer"></div>\
</div>\
<div class="wrapper childEntry">\
<input type="text" name="competitionName2${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
<input type="text" name="participantName2${form1wrapperCount}" class="entry-form" placeholder="Naam">\
<input type="text" name="participantSurname2${form1wrapperCount}" class="entry-form" placeholder="Van">\
<select name="participantGrade2${form1wrapperCount}" class="entry-form gradePicker">\
    <option value="" disabled>Graad</option>\
    <option value="1">Graad 1</option>\
    <option value="2">Graad 2</option>\
    <option value="3">Graad 3</option>\
    <option value="4">Graad 4</option>\
    <option value="5">Graad 5</option>\
    <option value="6">Graad 6</option>\
    <option value="7">Graad 7</option>\
    <option value="8">Graad 8</option>\
    <option value="9">Graad 9</option>\
    <option value="10">Graad 10</option>\
    <option value="11">Graad 11</option>\
    <option value="12">Graad 12</option>\
</select>\
<input type="text" name="participantSchool2${form1wrapperCount}" class="entry-form" placeholder="Skool">\
<select name="participantProvence2${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
    <option value="" disabled>Provinsie</option>\
    <option value="Gauteng">Gauteng</option>\
    <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
    <option value="Free State">Vrystaat (Aanlyn)</option>\
    <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
    <option value="Limpopo">Limpopo (Aanlyn)</option>\
    <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
    <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
    <option value="North West">Noordwes (Aanlyn)</option>\
    <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
</select>\
<input type="email" name="participantEmail2${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
<input type="text" name="participantNumber2${form1wrapperCount}" class="entry-form participantNumber"\
    placeholder="Selfoon nomemr"></div>\
</div>\
<div class="wrapper childEntry">\
<input type="text" name="competitionName3${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
<input type="text" name="participantName3${form1wrapperCount}" class="entry-form" placeholder="Naam">\
<input type="text" name="participantSurname3${form1wrapperCount}" class="entry-form" placeholder="Van">\
<select name="participantGrade3${form1wrapperCount}" class="entry-form gradePicker">\
    <option value="" disabled>Graad</option>\
    <option value="1">Graad 1</option>\
    <option value="2">Graad 2</option>\
    <option value="3">Graad 3</option>\
    <option value="4">Graad 4</option>\
    <option value="5">Graad 5</option>\
    <option value="6">Graad 6</option>\
    <option value="7">Graad 7</option>\
    <option value="8">Graad 8</option>\
    <option value="9">Graad 9</option>\
    <option value="10">Graad 10</option>\
    <option value="11">Graad 11</option>\
    <option value="12">Graad 12</option>\
</select>\
<input type="text" name="participantSchool3${form1wrapperCount}" class="entry-form" placeholder="Skool">\
<select name="participantProvence3${form1wrapperCount}" class="entry-form" placeholder="Province">\
    <option value="" disabled>Provinsie</option>\
    <option value="Gauteng">Gauteng</option>\
    <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
    <option value="Free State">Vrystaat (Aanlyn)</option>\
    <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
    <option value="Limpopo">Limpopo (Aanlyn)</option>\
    <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
    <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
    <option value="North West">Noordwes (Aanlyn)</option>\
    <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
</select>\
<input type="email" name="participantEmail3${form1wrapperCount}" class="entry-form" placeholder="E-pos">\
<input type="text" name="participantNumber3${form1wrapperCount}" class="entry-form participantNumber"\
    placeholder="Selfoon Nommer"></div>\
</div>\
<div class="wrapper childEntry">\
<input type="text" name="competitionName4${form1wrapperCount}" class="entry-form" value="(AFR) - SPANNE" disabled >\
<input type="text" name="participantName4${form1wrapperCount}" class="entry-form" placeholder="Naam">\
<input type="text" name="participantSurname4${form1wrapperCount}" class="entry-form" placeholder="Van">\
<select name="participantGrade4${form1wrapperCount}" class="entry-form gradePicker">\
    <option value="" disabled>Graad</option>\
    <option value="1">Graad 1</option>\
    <option value="2">Graad 2</option>\
    <option value="3">Graad 3</option>\
    <option value="4">Graad 4</option>\
    <option value="5">Graad 5</option>\
    <option value="6">Graad 6</option>\
    <option value="7">Graad 7</option>\
    <option value="8">Graad 8</option>\
    <option value="9">Graad 9</option>\
    <option value="10">Graad 10</option>\
    <option value="11">Graad 11</option>\
    <option value="12">Graad 12</option>\
</select>\
<input type="text" name="participantSchool4${form1wrapperCount}" class="entry-form" placeholder="Skool">\
<select name="participantProvence4${form1wrapperCount}" class="entry-form" placeholder="Provinsie">\
    <option value="" disabled>Provinsie</option>\
    <option value="Gauteng">Gauteng</option>\
    <option value="Eastern Cape">Oos-Kaap (Aanlyn)</option>\
    <option value="Free State">Vrystaat (Aanlyn)</option>\
    <option value="KwaZulu-Natal">KwaZulu-Natal (Aanlyn)</option>\
    <option value="Limpopo">Limpopo (Aanlyn)</option>\
    <option value="Mpumalanga">Mpumalanga (Aanlyn)</option>\
    <option value="Northern Cape">Noord-Kaap (Aanlyn)</option>\
    <option value="North West">Noordwes (Aanlyn)</option>\
    <option value="Western Cape">Wes-Kaap (Aanlyn)</option>\
</select>\
<input type="email" name="participantEmail4${form1wrapperCount}" class="entry-form" placeholder="Email">\
<input type="text" name="participantNumber4${form1wrapperCount}" class="entry-form participantNumber"\
    placeholder="Selfoon nommer"></div>\
</div>`)
    }

    //Sets the colour of the current page to be gold
    $('.entry-form-page').css('color', '#d1aa66');
    $('.entry-form-teams-page').css('color', '#d1aa66');
</script>

<%-include('../partials/en/footer')-%>